@import './variables.scss';

.card{
    width: 600px;
    height: 460px;
    position: relative;
    perspective: 1500px;

    .front, .back{
        border: 5px solid $olive-backgr;
        background-color: #d4e8c8;
        border-radius: 30px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
        backface-visibility: hidden;
        position: absolute;
    }

    .back{
        transform: rotateY(180deg);
    }

    &:hover .front{
        transform: rotateY(180deg);
    }

    &:hover .back{
        transform: rotateY(360deg);
    }

}
.container{
    margin-left: 15%;
    display: flex;
    align-items: center;
    margin-right: 15%;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 4%;
}
.button-forward, .button-back{
    width: 100px;
    height: 80px;
    background-color: #556b2f;
    color: #fff;
    border-radius: 12px;
    font-size: 20px;
    padding-top: 20px;
}
.App-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    border: 3px solid #556b2f;
    border-radius: 12px;
    margin-bottom: 4%;
}

.btn_edit, .btn_save, .btn_delete{
    font-size: 19px;
    color: $white-font;
    background-color: #556b2f;
    border-radius: 5px;
}
